body{
background: hsl(207, 19%, 11%);
margin-top: 55px;
}

.navbar {
	justify-content: space-around;
}
.search{
	border-right:1px solid white;
	padding:0 10px;
	margin:0px 15px;
	font-weight:500;
}
.btn2 {
	float: right;
    border-radius: 125px;
    background: transparent;
    border: 1.5px solid #e2d703;
    font-weight:500;
}
.btn2 .focus, .btn2:focus {
    color: #fff;
    background-color: #e2d703 !important;
    border-color: #e2d703 !important;
}
.btn2:hover {
    color: #000;
    background-color: #e2d703 !important;
    border-color: #e2d703 !important;
}
.hero {
	background: url("images/sdddd.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 750px;
	height: 100vh;
	max-height: 1000px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-block: var(--section-padding);
}

.hero-content {
	margin-top: 60px;
}

.hero-subtitle {
	color: var(--citrine);
	font-size: var(--fs-4);
	font-weight: var(--fw-700);
	margin-bottom: 10px;
}
.movie{
	margin:30px 0;
	color:white;
	border-bottom:1px solid black;
	padding: 0 0 25px 0;
}
.on{
	color:#e2d703;
	font-size:17px;
}
.movie p{
	font-size: 17px;
}
.movie h1{
	margin-top:10px;
	margin-bottom:30px;
}

.owlimg{
	max-height: 550px;
}

.mv_details{
	margin-top: 25px;
	color:white;
}
td{
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid black;
}
.item-wrapper2{
	padding:179px 0;
	text-align: center;
}
.item-wrapper3{
	padding:84px 0;
	text-align: center;
}
.item-wrapper4{
	padding:62px 0;
	text-align: center;
}
.song_img {
    max-height: 160px;
}
.game_img {
    max-width: 100%;
}
.newsletter{
	background:white;
	display: inline-block;
	border-radius:5px;	
	padding:5px ;
	float:right;
	width:48%;
	margin:30px 0;
}
.input-field{
	border:none;
	width:75%;
}
.input-field:focus{
	border:none;
}
.footer{
	margin-top:50px;
}
.divider{
	height: 4px;
  	margin-block: 40px;
  	border-top: 1px solid hsl(225, 25%, 9%);
  	border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.navigator{
	display: flex;
    justify-content: space-between;
}
.navigator ul{
	list-style: none;
	padding: 0;
}
.navigator ul li{
	float: left;
	margin-left:20px;
	color:white;
	font-weight:600;
}
.terms{
	display: flex;
    justify-content: space-between;
}
.terms ul{
	list-style: none;
	padding: 0;
}
.terms ul li{
	float: left;
	margin-right:20px;
	color: white;
	font-weight:600;
	padding:0;
}
.socials ul li{
	background: hsl(225, 25%, 9%);
    border-radius: 100%;
    padding: 3px 7px;
}
.copywrite{
	margin:60px 0 30px;
}
.helping-block{
	margin:80px;
}
.login-form{
	max-width:50%;
	margin:0 auto;
	color:#FFFFFF;
	border:1px solid hsl(225, 25%, 9%);
	padding: 50px 25px;
	box-shadow: 3px 3px #ffffff08;
	background:#00000026;
}